# Entorno virtual
venv/
ENV/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Base de datos SQLite
db.sqlite3

# Archivos estáticos recolectados (no subir)
staticfiles/
*.log

# IDEs y sistemas operativos
.vscode/
.idea/
.DS_Store
